<configuration scan="true" debug="false">
    <!-- Enable JMX -->
    <jmxConfigurator />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>flipcast.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>flipcast.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} - [%level] -  %logger{36} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
    </appender>


    <appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>access.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>access.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="GCM_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>gcm.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>gcm.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="GCM_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="GCM_LOG" />
    </appender>

    <appender name="APNS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>apns.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>apns.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="APNS_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="APNS_LOG" />
    </appender>

    <appender name="MPNS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>mpns.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>mpns.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="MPNS_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="MPNS_LOG" />
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} - [%level] -  %logger{36} - %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="METRICS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>metrics.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>metrics.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="METRICS_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="METRICS_LOG" />
    </appender>


    <logger name="access_log" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG" />
    </logger>

    <logger name="gcm" level="INFO" additivity="false">
        <appender-ref ref="GCM_ASYNC" />
    </logger>

    <logger name="apns" level="INFO" additivity="false">
        <appender-ref ref="APNS_ASYNC" />
    </logger>

    <logger name="mpns" level="INFO" additivity="false">
        <appender-ref ref="MPNS_ASYNC" />
    </logger>

    <logger name="metrics" level="INFO" additivity="false">
        <appender-ref ref="METRICS_ASYNC" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_ASYNC" />
    </root>

</configuration>